* {
  margin: 0;
  padding: 0;
}

.app{
    display: flex;
}

.main-board {
    margin:auto;
    height: 100vh;
}

.button-wrapper {
    margin-top: 20px;
    padding: 10px
}

.game-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.controls {
    margin-top: 50px
}

.images {
    margin-left:10px;
}