@import url(https://fonts.googleapis.com/css?family=VT323);
html {
  font-family: 'VT323' , monospace;
}

button {
  font-family: 'VT323' , monospace;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'VT323' , monospace;
}
