@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html {
  font-family: "Press Start 2P" !important;
}
root {
  font-family: "Press Start 2P" !important;
}
body {
  background: black;
  color: #C5C8D4;
  height: 100vh;
  font-family: "Press Start 2P" !important;
  font-size: 1rem !important;
}

button {
  font-family: "Press Start 2P" !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  min-width: 50px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

.button.primary {
  background: #881400;
}
.button.primary:focus {
  background: #a81000;
}
.button.primary:hover {
  background: #a81000;
}

.button.secondary {
  background: #005800;
}
.button.secondary:focus {
  background: #006800;
}
.button.secondary:hover {
  background: #006800;
}

.button.tertiary {
  background: #0000bc;
}

.button.tertiary:focus {
  background: #0000fc;
}
.button.tertiary:hover {
  background: #0000fc;
}

select {
  font-family: "Press Start 2p", monospace;
}
select:focus {
  outline: none;
  font-family: "Press Start 2P", monospace;
}
